// Specific CSS for your home-page
body {
  background-color: #fdf9fa;
  margin-bottom: 50px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  color: #233038;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: #EAEAEA;
  //
}

h3 {
  color: #233038;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}


.USP {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.USP h2{
  text-align: center;
  font-weight: 400;
}

.card-product-home {
  color: #EAEAEA;
  overflow: hidden;
  height: 200px;
  // width: 200px;
  background: #e60f05;
  border-radius: 25px;
  box-shadow: 0 2px 5px 0 #233038;
  align-items: center;
  padding: 15px;
  display: flex;
  padding: 1rem 1rem;
  justify-content: center;
  margin: 20px;

}

.parent {
  // margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.map {
  border-radius: 25px;
  box-shadow: #233038;
}

.flex-parent-element {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: space-between;


  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 110px;

  }
}

.flex-child-element {
  flex: 1;
  // margin: 10px;
}
