<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), /app/assets/images/ruby-logo-7.jpeg">
  <div class="container">
    <h1>Le Buddy helps you continue your programming journey with creative people</strong>!</h1>
    <p>Change your life and learn to code with fellow graduates.</p>
    <a class="btn btn-flat" href="#">Find a buddy now!</a>
  </div>
</div>
