

  <%# <div class="container">
    <h1> Welcome back!</h1>
  </div>

<div class="banner">
  <div class="container">
    <h1>Find a buddy anywhere in the world</h1>
  </div>
</div>
  <div class="map-banner">

  TRACY'S map

  </div> %>

<div class="container mt-4">
  <div class="cards">
    <% @challenges.each do |challenge| %>
      <%= link_to challenge_path(challenge) do %>
        <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
              <h2> <%= challenge.title %></h2>
              <p><%= challenge.category %>.</p>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%#  %>
