

  <%# <div class="container">
    <h1> Welcome back!</h1>
  </div>

<div class="banner">
  <div class="container">
    <h1>Find a buddy anywhere in the world</h1>
  </div>
</div>
  <div class="map-banner">

  TRACY'S map

  </div> %>

<div class="container">
    <div class="cards">
      <div class="card-product">
        <% @challenges.each do |challenge| %>
          <%# <% <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
          <div class="card-product-infos">
            <h3> <%= challenge.title %></h3>
            <h4><%= challenge.category %>.</h4>
            <div>
                <h4 class="card-trip-pricing">
                  <%= link_to "Request to buddy-up on this challenge", new_challenge_booking_path(challenge) %></h4>
                </div>
          </div>
          <% end %>
      </div>
    </div>

  </div>
<%#  %>
