.banner {
  background-color: #f7f7f7;
  width: auto;
  padding: 90px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
}

.banner h1 {
  margin: 0;
  color: #f7f7f7;
  text-shadow: 1px 1px 3px rgba(248, 245, 245, 0.2);
  font-size: 50px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: #f7f7f7;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(234, 239, 236, 0.362);
  margin-bottom: 30px;
}

.banner h2 {
  color: #f7f7f7;
  text-shadow: 1px 1px 3px rgba(248, 245, 245, 0.2);
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  margin-bottom: 20px;
}
