.button {
  color: #4d04c4;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.button:hover {
  opacity: 1;
}

.btn-buddy {
  background-color: #670bff;
  color: white;
  border-radius: 25px;
}

.btn-buddy:hover {
  background-color: #7b2cfb;
  color: rgb(250, 238, 238);
}
