.container-show {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 2px 5px 0 red;
}

.buddy-info {
  background-color: white;
  border-radius: 25px;
  height: 220px;
  width: 220px;

}

.buddy-name-place {

  h4 {
    font-size: 25px;


  }

  p {
    font-size: 12px;
  }
}

.buddy-reason1 {
  font-size: 20px;
  
}
.buddy-reason {
  padding: 20px;
  margin-left: 40px;
  font-size: 20px;

}

.buddy-bio {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;

}

.buddy-up {
  display: flex;
  justify-content: center;
  align-items: center;
}
